<div class="info-tag-container">
    {{#if icon}}
        <i class="fa {{icon}}"></i>
    {{/if}}

    {{#if address}}
        <h6 class="info-text">
                {{removeProtocol text}}
        </h6>
    {{/if}}
</div>
