{{#resume.basics}}
<div class="container about-container">
    {{> title value="About"}}

    {{#if location}}
        {{#location}}
        {{> address text=(formatAddress address city region postalCode countryCode) icon="fa-map-marker"}}
        {{/location}}
    {{/if}}

    {{#if email}}
        {{> email text=this.email icon="fa-envelope" email=this.email}}
    {{/if}}

    {{#if phone}}
        {{> phone text=this.phone icon="fa-mobile-alt" phone=this.phone}}
    {{/if}}

    {{#if website}}
        {{> info-tag text=this.website icon="fa-desktop" url=this.website}}
    {{/if}}

    {{#if profiles}}
        {{#each profiles}}
            {{> social}}
        {{/each}}
    {{/if}}
</div>
{{/resume.basics}}
